* {
    font-family: "JetbrainsMono Nerd Font";
    font-size: 15px;
}

window {
    background-color: rgba(26, 27, 38, 0.85);
    border-radius: 15px;
    border: 2px solid #7aa2f7; 
}

/* El cuadro de búsqueda */
#input {
    padding: 10px;
    margin: 15px;
    background-color: #32344a; 
    color: #a9b1d6; 
    border: none;
    border-radius: 10px;
}

/* La lista de aplicaciones */
#inner-box {
    margin: 0px 15px 15px 15px;
}

#scroll {
    border: none;
    background-color: transparent;
}

/* Cada entrada de la lista */
#entry {
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: #acb0d0; /* Tu "color15" */
}

/* La entrada seleccionada */
#entry:selected {
    background-color: #444b6a; /* Tu "color8" */
    color: #e0af68; /* Tu "color3" de Kitty (amarillo) */
}
